*{box-sizing: border-box;}

body{margin: 0px;
    background-color: rgb(242, 242, 242);
    height: 100vh;
    }
nav{ /*導覽列設定*/
    /* position:fixed; */
    background-color: rgb(220, 220, 220);
    padding: 0%;
    font-family: 微軟正黑體;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul{ /*導覽列-項目設定*/
    list-style-type: none; /*除去項目符號*/
    display: inline-flex; /*橫向排列*/
    align-items: center;
    font-size: 3vh;
    font-weight: bold;
    margin: 0px;
}

nav li{ /*導覽列-細項設定*/
    padding: 2vw; /*文字水平間距*/
} 
nav ul :hover{ /*導覽列-鼠標覆蓋設定*/
    background-color: lightblue;
}
nav a{ /*導覽列-超連結設定*/
    color:rgb(90, 90, 90);
    text-decoration: none;
}

header{
    background-image: url(https://img.freepik.com/free-photo/top-view-background-beautiful-white-grey-brown-cream-blue-background_140725-72219.jpg?w=2000);
    /* background-position:0px -400px; */
    background-size: cover;
    width:100vw;
    height: 40vh;
    /* margin-top: 1vh; */
    /* margin-left: 10vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

header h1{
    color: aliceblue;
    letter-spacing: 5px;
    font-size: 5vh;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color:black;
}

h1{
    font-size: 5vw;
    letter-spacing: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Hpic01{
    width:80vw;
}

table{
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

table img{
    /* width: 100%; */
    max-height: 20vh;
    margin: 3vw;
    margin-top: 3px;
    border-radius: 10px;
}
footer{
    /* position: fixed; */
    bottom: 0px;
    left: 0;
    width: 100%;
    padding: 8px;
    background-color: darkgrey;
    text-align: center;
}

.tableWord {
    font-size: 3vw;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.rounded-circle {
    border-radius: 50%!important;
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

/* cell-phone */
/* [class *=col-]{
width: 100%;
float: left;
padding: 15px;
} */

.col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
@media (min-width: 992px){
.col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}}

/* Tablet */
@media only screen and (min-width:992px){
.col-m-1{width: 8.33%;}
.col-m-2{width: 16.66%;}
.col-m-3{width: 25%;}
.col-m-4{width: 33.33%;}
.col-m-5{width: 41.66%;}
.col-m-6{width: 50%;}
.col-m-7{width: 58.33%;}
.col-m-8{width: 66.66%;}
.col-m-9{width: 75%;}
.col-m-10{width: 83.33%;}
.col-m-11{width: 91.66%;}
.col-m-12{width: 100px;}
}

/* desktop */
@media only screen and (min-width:1200px){
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100px;}
} 

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }}